/* .select2-container--default .select2-selection--single {
    height: calc(2.25rem + 2px);
  }

.select2-selection__rendered .select2-selection__arrow {
    width: 100%;
    height: 100%;
    vertical-align:center;
} */